@model DesafioVendinha.Models.Venda

<div class="p-5 mb-4 bg-light rounded-3">
    <h3 class="p-2">Adicionar Nova Dívida:</h3>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group p-2 mb-1">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Nome">Nome Completo</label>
                    <input asp-for="Nome" class="form-control" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="CPF">CPF</label>
                    <input asp-for="CPF" class="form-control cpf" placeholder="123.456.789-10" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group p-2 mb-1">
            <div class="row">
                <div class="col-md-8">
                    <label asp-for="Descricao">Descricao</label>
                    <input asp-for="Descricao" class="form-control" placeholder="Digite aqui o que foi comprado" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="Valor">Valor Devido</label>
                    <input asp-for="Valor" class="form-control" placeholder="R$ 0.00" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group p-2">
            <input type="submit"  onclick="verifica()" value="Adicionar" class="btn btn-primary" />
        </div>
    </form>
</div>

<script type="text/javascript">
    function verifica() {
        $("#Nome").css("background-color", "white");
        $("#CPF").css("background-color", "white");
        $("#Descricao").css("background-color", "white");
        $("#Valor").css("background-color", "white");
        if ($("#Nome").val() == "" || $("#CPF").val() == "" || $("#Descricao").val() == "" || $("#descricao").val() == "") {
            if ($("#Nome").val() == "") {
                $("#Nome").css("background-color", "#ff000036");
            }
            if ($("#CPF").val() == "") {
                $("#CPF").css("background-color", "#ff000036");

            } if ($("#Descricao").val() == "") {
                $("#Descricao").css("background-color", "#ff000036");

            }
            if ($("#Valor").val() == "") {
                $("#Valor").css("background-color", "#ff000036");

            }
        } else {
            $('form').submit();
        }
    }
</script>

<style type="text/css">
    label {
        margin-bottom: 0;
    }
</style>